/* General styling */
body {
    background-color: #5a189a;
    color: #ecccff;
    text-align: center;
    min-height: 100vh;
}

/* Content area */
#content {
  padding: 1vh 2vw;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Links */
a {
    color: #ecccff;
}

/* Headshot image (rounded edges) */
#headshot {
    height: 35vh;
    width: 35vh;
    background-color: #9d4edd;
    border-radius: 3vh;
}

/* Container storing link buttons */
#links {
    display: flex;
    justify-content: center;
}

/* Link buttons */
.link-button {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1vw;
    margin-right: 1vw;
}

/* Styling for small screens */
@media (max-width: 500px) {
    .link-button {
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
}
